/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */
* {
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: StratosSkyeng;
    src: url("/cardGame/DesktopFonts/stratosskyeng-black.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-blackitalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-bold.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-bolditalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-extrabold.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-extrabolditalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-extralight.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-extralightitalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-italic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-light.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-lightitalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-medium.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-mediumitalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-regular.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-semibold.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-semibolditalic.otf"),
        url("/DesktopFonts/stratosskyeng-semilight.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-semilightitalic.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-thin.otf"),
        url("/cardGame/DesktopFonts/stratosskyeng-thinitalic.otf");
} */

@font-face {
    font-family: "StratosSkyeng";
    font-weight: 400;
    font-style: normal;
    src: url("/cardGame/WebFonts/stratosskyengweb-regular.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-black.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-black.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-blackitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-blackitalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-bold.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-bold.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-bolditalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-bolditalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-extrabold.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-extrabold.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-extrabolditalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-extrabolditalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-extralight.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-extralight.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-extralightitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-extralightitalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-italic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-italic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-light.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-light.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-lightitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-lightitalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-medium.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-medium.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-mediumitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-mediumitalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-regular.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-regular.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-semibold.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-semibold.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-semibolditalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-semibolditalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-semilight.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-semilight.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-semilightitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-semilightitalic.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-thin.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-thin.woff2"),
        url("/cardGame/WebFonts/stratosskyengweb-thinitalic.woff"),
        url("/cardGame/WebFonts/stratosskyengweb-thinitalic.woff2");
}

body {
    background-color: #004980;
    font-family: "StratosSkyeng";
}

.app {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 480px;
    height: 459px;
    background: #c2f5ff;
    border-radius: 12px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.title {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    width: 208px;
    height: 96px;
    text-align: center;
}

.picker-challenge {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.btn {
    width: 237px;
    height: 50px;
    cursor: pointer;
    background: #7ac100;
    border-radius: 12px;
    border: none;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    transition: all 0.5s;
}

.btn:hover {
    transform: scale(1.2);
}

.button {
    width: 94px;
    height: 98px;
    cursor: pointer;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    border: none;
    border-radius: 12px;
    transition: all 0.5s;
}

.button:hover {
    transform: scale(1.2);
}

.selected {
    width: 94px;
    height: 98px;
    cursor: pointer;
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    border-radius: 19px;
    border-color: #7ac100;
}

.header {
    width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.timer-button {
    width: 117px;
    height: 44px;
    font-size: 14px;
}

.timer-field {
    color: #7ac100;
}

.battle-field {
    height: 500px;
    width: 600px;
}

.scene {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 155px;
    margin: 40px 0;
    perspective: 600px;
}

.CARD {
    width: 110px;
    height: 100%;
    position: relative;
    transition: all 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

.card-face-front {
    background-image: url("/cardGame/image/backCard.png");
    background-repeat: no-repeat;
}

.card-face-back {
    background-image: url("/cardGame/image/ace-of-clubs.png");
    background-repeat: no-repeat;
    transform: rotateY(180deg);
}

.CARD.is-flipped {
    transform: rotateY(180deg);
}
